<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration
	xmlns:log4j="http://jakarta.apache.org/log4j/">

	

	<appender name="MyConsole"
		class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x - %m%n" />
		</layout>
	</appender>

	<appender name="OrtServiceAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="logs/OrtService.log"/>
		<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss,SSS} {%t} %-5p %c %x - %m%n"/>
		</layout>
	</appender>
	
	<appender name="UserControllerAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="logs/UserController.log"/>
		<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss,SSS} {%t} %-5p %c %x - %m%n"/>
		</layout>
	</appender>
	
	<appender name="ExceptionAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="logs/Exception.log"/>
		<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss,SSS} {%t} %-5p %c %x - %m%n"/>
		</layout>
	</appender>
	
	

	<logger name="com.cakir.service.impl">
		<level value="INFO"/>
		<appender-ref ref="OrtServiceAppender"/>
	</logger>
	
	<logger name="com.cakir.controller">
		<level value="INFO"/>
		<appender-ref ref="UserControllerAppender"/>
	</logger>
	
	<logger name="com.cakir.web.error">
		<level value="INFO"/>
		<appender-ref ref="ExceptionAppender"/>
	</logger>
	
	
	
	
	<root>
		<priority value="debug" />
		<appender-ref ref="MyConsole" />
	</root>

</log4j:configuration>